---
import PostHogLayout from "../layouts/PostHogLayout.astro";
import Announcements from "../components/announcement-bar.astro";
import ProfileCard from "../components/profileCard.astro";
import { Image } from "astro:assets";
import logo from "../assets/adamsnapelogo.png";
const STRAPI_ROOT = import.meta.env.STRAPI_ROOT;

const resp = await fetch(`${STRAPI_ROOT}/api/global-setting?populate=*`);
const json = await resp.json();
const globalData = json.data;
---

<PostHogLayout>
  <Announcements />
  <div>
    <ProfileCard {...globalData} />
    <Image src={logo} alt="Adam Snape Logo" class="logo" width="35" height="35" format="avif" widths={[35, 70, 140]} sizes="35px" />
    <p class="small center">&copy; Adam Snape 2025</p>
  </div>
</PostHogLayout>

<style>
  .logo {
    width: 35px;
    margin: 50px auto 0;
    display: block;
  }
</style>
