---
const props = Astro.props;
---

<header class="header">
  {props.logo?.url && <img src={props.logo.url} alt="Logo" width={props.logo.width} height={props.logo.height} style="height: 50px;" />}
  <h2>{props.site_title || "test"}</h2>
</header>
