---
import PostHog from "../components/posthog.astro";
import { ThemeSelector } from "../components/theme-selector.jsx";
import "../styles/global.css";
const STRAPI_ROOT = import.meta.env.STRAPI_ROOT;

const resp = await fetch(`${STRAPI_ROOT}/api/global-setting?populate=*`);
const json = await resp.json();
const globalData = json.data;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={globalData.default_description} />
    <title>{globalData.site_name}</title>
    <link rel="icon" href=`${globalData.Favicon.url}` />

    <script>
    const savedTheme = localStorage.getItem('theme');
    const systemPrefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
    const theme = savedTheme || (systemPrefersDark ? 'dark' : 'light');

    document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
  </head>
  <body>
    <slot />
    <PostHog />
    <ThemeSelector client:load className="theme-selector" />
  </body>
</html>
